@import url(https://fonts.googleapis.com/css?family=Share+Tech);


body{
  background-color: #1a6c40;
}
#title{
  font-family: 'Share Tech', sans-serif;
  font-size: 4em;
  text-align:center;
  margin: auto;
}
#calcBase{
  background-color: #336179;
  height: 35em;
  width: 30em;
  margin: auto;
}
#result{
  width: 18em;
  background-color: #778c85;
  height: 2em;
  font-size: 1.5em;
  margin: 2em;
  margin: auto;
  text-align: right;
  color: black;
  font-family: 'Share Tech', sans-serif;
}
.calcButton{ 
  width: 20%;
  height: 4em;
  background-color: #9CBFCF;
  border-color: #B6DFF1;
  color:black;
}
.lead-button{
  margin-left: 2.8em;
}
